* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  color: black;
  background-color: whitesmoke;
  font-family: "Cairo", sans-serif;
  font-size: 18px;
}

/* header and all header realated */
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 3px solid black;
}
.header h1 {
  text-align: center;
  /* height: 50px; */
  /* width: 400px; */
  margin: 15px;
  padding: 5px;
  font-size: 4em;
}

.header nav {
  display: flex;
  margin: 10px;
  padding: 5px;
  align-items: center;
}

.header nav ul {
  list-style-type: none;
  height: 1rem;
}

.header nav ul li {
  display: inline-block;
  margin: 0px 10px;
}

.header nav ul li a {
  text-align: center;
  text-decoration: none;
}
/* section header */
.sectionHeader {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  align-items: flex-end;

  padding: 10px 0 0px 10px;
}
.sectionHeader h2 {
  width: 190px;
  font-size: 2.5em;
  text-align: right;
  vertical-align: middle;
  line-height: 1.2em;
}
.sectionHeader div {
  flex: 1 2;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid black;
  color: black;
}
.left-aside,
.right-aside {
  width: 200px;
}

/* info */
.info {
  display: flex;
  flex-wrap: wrap;
}
.info p {
  flex: 4;
  justify-content: center;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 20px;
}
/* project section */
.projects {
  display: flex;
  flex-wrap: wrap;
}

.display {
  display: flex;
  flex-wrap: wrap;
  flex: 4;
  justify-content: space-around;
  /* padding-right: 10px;
  padding-left: 10px; */
  padding-top: 10px;
}
.project {
  width: 45%;
  height: 500px;
  display: flex;
  position: relative;
  margin: 5px;
  justify-content: center;
  align-items: center;
}

#showcase {
  width: 100%;
}
.project a {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
}
.project img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border: 4px solid rgb(32, 32, 32);
}
.title {
  position: absolute;
  display: inline-block;
  bottom: 10px;
  left: 10px;
  background-color: rgb(32, 32, 32);
  z-index: 3;
}
.title h3 {
  background-color: rgb(32, 32, 32);
  padding: 5px 10px;
  color: white;
  font-size: 1em;
  line-height: 1.5;
}
.title h4 {
  background-color: rgb(32, 32, 32);
  color: white;
  padding: 5px 15px;
  text-align: end;
  font-size: 0.8em;
  line-height: 1.2;
}

/* info section */
.contact {
  display: flex;
}
.contactInfo {
  display: flex;
  flex: 4;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 10px 30px;
}
.contactInfo div {
  padding: 10px;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 2px solid black;
  margin: 10px 0px;
}
.footer h2 {
  font-size: 90%;
  padding: 10px 0px;
}
.footer p {
  font-size: 0.8em;
}
/* responsiveness  */
@media screen and (max-width: 966px) {
  .header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .sectionHeader {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
  }
  .sectionHeader h2 {
    text-align: center;
  }
  .sectionHeader div {
    flex: 1 0;
  }
  .left-aside,
  .right-aside {
    width: 75px;
    flex: 1 0.5;
  }

  .project {
    height: 300px;
  }
  .contactInfo {
    flex-direction: column;
  }
}

@media screen and (max-width: 434px) {
  .sectionHeader {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .left-aside,
  .right-aside {
    display: none;
  }
  .projects {
    padding: 10px 15px 0px 15px;
  }
  .project {
    height: 200px;
  }
}
