* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  color: black;
  background-color: whitesmoke;
  font-family: "Cairo", sans-serif;
  font-size: 18px;
}

/* header and all header realated */
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 3px solid black;
}
.header h1 {
  text-align: center;
  height: 50px;
  width: 400px;
  margin: 15px;
  padding: 5px;
  font-size: 2em;
}

.header nav {
  display: flex;
  margin: 10px;
  padding: 5px;
  align-items: center;
}

.header nav ul {
  list-style-type: none;
  height: 1rem;
}

.header nav ul li {
  display: inline-block;
  margin: 0px 10px;
}

.header nav ul li a {
  text-align: center;
  text-decoration: none;
}
/* section header */
.sectionHeader {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 10px 0 0px 10px;
}
.sectionHeader h2 {
  min-width: 95px;
  font-size: 1.5em;
  text-align: center;
}
.sectionHeader div {
  align-items: center;
  width: 100%;
  border-bottom: 2px solid black;
  color: black;
}
.info aside,
.projects aside,
.contact aside {
  padding-left: 10px;
  width: 105px;
}
/* info */
.info {
  display: flex;
  flex-wrap: wrap;
}
.info p {
  flex: 4;
  justify-content: center;
  padding-left: 10px;
  padding-top: 10px;
}
/* project section */
.projects {
  display: flex;
  flex-wrap: wrap;
}

.display {
  display: flex;
  flex-wrap: wrap;
  flex: 4;
  justify-content: center;
  padding-right: 20px;
  padding-left: 10px;
  padding-top: 10px;
}

.project {
  flex: 1 1 300px;
  height: 300px;
  width: 300px;
  padding: 10px;
}

.project a {
  display: block;
  margin: auto;
  width: 100%;
}

.project a img {
  margin-top: auto;
  margin-left: auto;
  height: 300px;
  width: 300px;
}
/* info section */
.contact {
  display: flex;
}
.contactInfo {
  display: flex;
  flex: 4;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 10px 30px;
}
.contactInfo div {
  padding: 10px;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 2px solid black;
  margin: 10px 0px;
}
.footer h2 {
  font-size: 90%;
  padding: 10px 0px;
}
.footer p {
  font-size: 0.8em;
}
/* responsiveness  */
@media screen and (max-width: 707px) {
  .header {
    justify-content: center;
  }
  .contactInfo {
    flex-direction: column;
  }
}

@media screen and (max-width: 434px) {
  .sectionHeader {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .info aside,
  .projects aside,
  .contact aside {
    display: none;
  }
  .projects {
    padding: 10px 15px 0px 15px;
  }
}
